* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: rgb(145, 201, 241);
    width: 100%;
    padding: 10px;
    align-items: center;
}

.titulo {
    display: flex;
    width: 50%;
    gap: 10px;
}

.titulo h1 {
    margin-top: 6px;
}

.cabecera {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.lista1 {
    list-style: none;
    gap: 80px;
    padding: 5px;
    display: none;
}

.contenido:active .lista1 {
    display: block;
}

img {
    width: 42px;
}

main {
    display: flex;
    justify-content: flex-start;
}

aside {
    display: flex;
    width: 30%;
    padding: 10px;
    background: beige;
    flex-direction: column;
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.lateral1 {
    display: flex;
    flex-direction: column;
}

.lista2 {
    list-style: none;
    gap: 80px;
    padding: 5px;
    display: block;
}

#sublista {
    list-style: none;
    padding: 0 30px;
}



article {
    display: flex;
    background: antiquewhite;
    width: 70%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.opciones {
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 18px;
}

.lista2:target {
    display: block;
}

.circle{
    position: relative;
    display: inline-block;
}

.rectangle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    width: auto;
    min-width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: none;
    z-index: 2;
}
.rectangle ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.rectangle li{
    margin-bottom: 5px;
}

.circle:hover .rectangle{
    display: block;
}

article{
    padding: 0;
    margin: 0;
}


.dash{
    background-color: rosybrown;
    width: 40%;
    text-align: center;
}

.dash h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenido_1{
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.fila{
    display: flex;
}

.primero, .segundo, .tercero, .cuarto{
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}

.primero .barradecarga{
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 20px;
}

.primero .bar{
    width: 60%;
    height: 100%;
    background-color: #007bff;
}
.primero{
    border: 1px solid blue;
    width: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.segundo .barradecarga{
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 20px;
}

.segundo .bar{
    width: 30%;
    height: 100%;
    background-color: #007bff;
}

.segundo{
    border: 1px solid blue;
    width: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tercero .barradecarga{
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 20px;
}

.tercero .bar{
    width: 40%;
    height: 100%;
    background-color: #007bff;
}

.tercero{
    border: 1px solid blue;
    width: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cuarto .barradecarga{
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 20px;
}

.cuarto .bar{
    width: 80%;
    height: 100%;
    background-color: #007bff;
}

.cuarto{
    border: 1px solid blue;
    width: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.abajo{
    margin: 30px;
    background: #007bff;
    height: 100vh;
    padding: 10px;
}

.relleno{
    margin: 10px;
    background-color: #f0f0f0;
    height: 80%;
}

.abajo h4{
    font-size: 18px;
    margin: 5px
}


