* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #f1f1f1;
    color: #000;
    padding: 35px;
    text-align: center;
    margin: 0;
}

footer{
    background-color: #f1f1f1;
    color: #000;
    padding: 20px;
    text-align: center;
}
footer p{
    margin-top: 9px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 0px;
    min-height: calc(100vh - 160px);
}

.nav, .aside {
    flex-grow: 1;
    padding: 10px;
    background-color: #bbbbbb;
    text-align: left;
    margin: 0px;
}

.main {
    flex-grow: 2;
    padding: 20px 1px;
    background-color: #aaaaaa;
    color: #000;
    text-align: left;
}

.main h2{
    margin-bottom: 10px;
}

.main p{
    margin-top: 20px;
}
